extends layout

block content
	head
		title
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		
		style.
			.container {
			margin-top: 20px;
			}
			.carousel-inner img {
			width: 100%;
			max-height: 460px
			}
			.header-text h2 span {
			background-color: #000000;
			padding: 10px;
			}
	body
		.row(style='margin: auto')
			
			#logo.col-md-8.col-sm-8.col-xs-12
				h1.logo
					a#logo(href="https://www.aicte-india.org/" title="Back To Home" rel="home")
						img(src="https://www.aicte-india.org/sites/default/files/logo_updated_0.png" alt="Back To Home")
			nav.navbar.navbar-default(style='float:left ; margin:25px')
				
				.navbar-hearder
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mynavbar')
						span.glyphicon.glyphicon-tasks
				#mynavbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/")
								span.glyphicon.glyphicon-home  
								|  Home
					ul.nav.navbar-nav
						li
							a(href="/user_guide")
								span.glyphicon.glyphicon-folder-open 
								|  User Guide

					ul.nav.navbar-nav.navbar-right
						li
							a(href="/login")
								span.glyphicon.glyphicon-log-in
								|  Admin Login
		ul.nav.nav-tabs(align='center')
			
			li
				a(href='/') Scheme
			li
				a(href='/scheme_details') Scheme Details
			li
				a(href='/initiative') Initiative
			

		.container.text-center
			.row.content
				.col-sm-2.col-md-4.col-lg-6
					#viz1522482848662.tableauPlaceholder(style='position: relative')
							noscript
								a(href='#')
									img(alt=' ', src='https://public.tableau.com/static/images/AI/AICTE1_6/TotalInstitutions/1_rss.png', style='border: none')
							object.tableauViz(style='display:none;')
								param(name='host_url', value='https%3A%2F%2Fpublic.tableau.com%2F')
								param(name='embed_code_version', value='3')
								param(name='site_root', value='')
								param(name='name', value='AICTE1_6/TotalInstitutions')
								param(name='tabs', value='yes')
								param(name='toolbar', value='yes')
								param(name='static_image', value='https://public.tableau.com/static/images/AI/AICTE1_6/TotalInstitutions/1.png')
								param(name='animate_transition', value='yes')
								param(name='display_static_image', value='yes')
								param(name='display_spinner', value='yes')
								param(name='display_overlay', value='yes')
								param(name='display_count', value='yes')
								param(name='filter', value='publish=yes')
					script(type='text/javascript').
						var divElement = document.getElementById('viz1522482848662');                    var vizElement = divElement.getElementsByTagName('object')[0];                    vizElement.style.width='1000px';vizElement.style.height='850px';                    var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
