extends layout
block content

	head
		title
		meta(name='viewport', content=' initial-scale=1')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		// Load the AJAX API
		script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
		script(type='text/javascript').
		style.
			body 
			#myCarousel .carousel-caption {
			left:0;
			right:0;
			bottom:0;
			text-align:center;
			padding:10px;
			background:rgb(0, 0, 0, 0.4);;
			text-shadow:none;
			text-color:black;
			}
			.container {
			margin-top: 10px;
			}
			.carousel-inner img {
			width: 100%;
			max-height: 460px
			}
	body
		.row(style='margin: auto')
			#logo.col-md-8.col-sm-8.col-xs-12
				h1.logo
					a#logo(href='/', title='Back To Home', rel='home')
						img(src='https://www.aicte-india.org/sites/default/files/logo_updated_0.png', alt='Back To Home')
			.col-md-4.col-sm-4.col-xs-12
				nav(role='custom-dropdown')
					// Advanced Checkbox Hack (see description below)
					// basic menu goes here
					nav.navbar.navbar-default(style='float:left ; margin:20px')
						.navbar-header
							button.navbar-toggle(type='button', data-toggle='collapse', data-target='#mynavbar')
						#mynavbar.collapse.navbar-collapse
							ul.nav.navbar-nav
								li
									a(href='/')
										span.glyphicon.glyphicon-home
										|  Home
								ul.nav.navbar-nav
									li
										a(href='/user_guide')
											span.glyphicon.glyphicon-log-in
											|  User Guide
							ul.nav.navbar-nav
								li
									a(href='/login')
										span.glyphicon.glyphicon-log-in
										|  Admin Login
		br
		ul.nav.nav-tabs(align='center')
			li
				a(href='/') Scheme
			li
				a(href='/scheme_details') Scheme Details
			li
				a(href='/initiative') Initiative
			
		.container
	h3 User Guide
	#myCarousel.carousel.slide(data-ride='carousel')
		ol.carousel-indicators
			li.active(data-target='#myCarousel', data-slide-to='0')
			li(data-target='#myCarousel', data-slide-to='1')
			li(data-target='#myCarousel', data-slide-to='2')
			li(data-target='#myCarousel', data-slide-to='3')
			li(data-target='#myCarousel', data-slide-to='4')
			li(data-target='#myCarousel', data-slide-to='5')
			li(data-target='#myCarousel', data-slide-to='6')
			
		.carousel-inner
			.item.active
				img(src="/1.png", style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  Home Page
					p
			.item
				.header-text.hidden-xs
					img(src="/2.png" style='width:100%;')
					.carousel-caption
						font(color='black', size='6')  Click on the schemes to view schemes overview
						p
			.item
				img(src="/3.png" style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  Apply filters to visualize according to state,university etc.
					p

			.item
				img(src="/4.png" style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  Visualization after applying filters.
					p
			.item
				img(src="/5.png" style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  State-wise comparison
					p
			.item
				img(src="/6.png" style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  Institute-wise count under initiatives
			.item
				img(src="/7.png" style='width:100%;')
				.carousel-caption
					font(color='black', size='6')  State-wise count under initiatives

			a.left.carousel-control(href='#myCarousel', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left
				span.sr-only Previous
			a.right.carousel-control(href='#myCarousel', data-slide='next')
				span.glyphicon.glyphicon-chevron-right
				span.sr-only Next

